* {
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 0.05em;
}

body {
    margin-top: 0;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 0;
}

#head {
    border-bottom: solid 1px grey;
    padding: 10px;
    margin-bottom: 20px;
    width: 1200px;
    /* background-color: #009879; */
}

#navigation {
    position: absolute;
    width: 400px;
}

#content {
    float: left;
    margin-left: 400px;
    width: 800px;
}


nav {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 0.9em;
    color: #222c6a;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    list-style: none;
}


.navigation-list-item {
    font-size: 0.8em;
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    list-style: none;
}

.navigation-list-item-list {
    margin-left: 10px;
    font-size: 0.7em;
    color: #222c6a;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: #009879;
}


h4 {
    background-color: #009879;
    color: white;
    padding: 5px 10px;
    /* border-radius: 5px; */
}

p {
    padding: 0px 10px;
}

table {
    border-collapse: collapse;
    border-right: solid 2px #009879;
    border-bottom: solid 2px #009879;
    margin-left: 10px;
    margin-bottom: 15px;
}

table td {
    border-left: solid 2px #009879;
    border-top: solid 2px #009879;
    padding: 5px;
    /* margin-right: 10px; */
}

pre {
    white-space: pre-line;
}

code {
    font-family: Consolas,"courier new";
    background-color: #f1f1f1;
    border: 1px solid #999;
    display: block;
    padding-left: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-size: small;
    margin-left: 10px;
    margin-right: 10px;
}

img{
    width: 400px;
    margin: 0;
    padding: 0;
}
